* {
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
}

body {
    background-color: hsl(47, 88%, 63%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap:20px;

}

.container {
    background-color: white;
    border: 2px solid black;
    padding: 18px;
    width: 300px;
    height:460px;
    border-radius: 15px;
    box-shadow: 7px 7px 0px black;
    
}

img {
    width: 300px;
}

.div1 {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 15px;
    object-fit: cover;
    margin-bottom: 25px;
}

span {
    font-size: 12px;
    background-color: hsl(47, 88%, 63%);
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 4px;
}

.time{
    margin-top: 18px;
    font-size: 12px;
}

.paragraph{
    color:grey;
    font-size: 14px;
}

h1{
    font-size: 16px;
    font-weight: 800;
}

h1:hover{
    color:yellow;
}
    

.bottomdiv{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 800;
    margin-top: -8px;
    
}

.bottomdiv img{
    width: 30px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
